body  {
    font-family: Verdana, sans-serif;
    background-color: azure;
}

ul {
    list-style-type: none;
}

ul.entries li input.time {
    width: 70px;
}

td.summaryTask {
    width: 165px;
    text-align: right;
    padding-right: 10px;
}

td.summaryTime {
    width: 80px;
}

.button {
    background-color: #6392CA;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 1px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}
