<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Task Entries for {{.Date}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body style="margin:25px;">
<div class="text-center">
    <a class="btn btn-primary btn-sm" href="{{.ContextPath}}/entry?date={{.Date}}&offset=-1">&lt;</a>
    <span class="lead">Task Entries for {{.Date}}</span>
    <a class="btn btn-primary btn-sm" href="{{.ContextPath}}/entry?date={{.Date}}&offset=1">&gt;</a>
</div>
<br/>
<div class="container">
    <form method="POST" action="{{.ContextPath}}/entry">
        <div class="form-group">
            <input type="hidden" name="date" value="{{.Date}}">
            <ul name="entries" class="list-group list-group-flush">
                {{range $index, $element := .Entries}}
                    <li class="list-group-item">
                        <input type="hidden" name="task_id_{{.EntryId}}" value="{{.EntryId}}"/>
                        <div>
                            <input class="d-inline-block w-25" type="text" value="{{.TimeString}}"
                                   name="task{{$index}}"/>
                            <input class="d-inline-block w-50" type="text" value="{{.Task}}" name="val{{$index}}"/>
                            <a class="btn btn-primary btn-sm"
                               href="{{$.ContextPath}}/entry?update={{.EntryId}}&time=123&task=abc">U</a>
                            <a class="btn btn-primary btn-sm" href="{{$.ContextPath}}/entry?delete={{.EntryId}}">D</a>
                        </div>
                    </li>
                {{end}}
            </ul>
        </div>
        <div>New Entry</div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" id="time-label">Time</span>
                <input type="time" class="form-control" aria-describedby="time-label" id="time" name="time"
                       value="{{call .CurrentTime}}"/>
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="task-label">Task</span>
                <select name="task" id="task" class="form-control" aria-describedby="task-label">
                    <option></option>
                    {{range .Tasks}}
                        <option>{{.Task}}</option>
                    {{end}}
                </select>
            </div>
        </div>

        <div>New Task</div>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Add new task</span>
            <input type="text" class="form-control" aria-describedby="basic-addon3" name="newTask"/>
        </div>
        <br/>
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
</div>
<div class="container">
    <div>Todays Summary</div>
    <table class="table table-condensed">
        <thead>
        <tr class="m-0">
            <th class="w-50">Task</th>
            <th class="w-25">Elapsed Time</th>
        </tr>
        </thead>
        <tbody>
        {{ range $key, $value := .DailySummary}}
            <tr class="m-0">
                <td>{{$key}}</td>
                <td>{{$value}}</td>
            </tr>
        {{end}}
        </tbody>
    </table>
</div>
</body>
</html>
